.main-header {
	background: black;
	
}



/*.parent {
	display:flex;
	border:2px solid #FF8C00;
	padding:20px;
	width:760px;
	justify-content:center;
}
.child {
	background-color:#ededed;
	border:2px solid #768D44;
	padding:30px;
	margin:10px;
}*/

.main-navigation ul {
	display:flex;
	width: 90%;
	justify-content:center;
}
.main-navigation ul > li {

	padding: 5px;
	/*margin: auto;*/
	/*flex-grow:1;*/
}
.main-navigation {
	float: left;
}

.user-block {
	float: right;
}

.clear {
	clear: both;
}

a {
	text-decoration: none;
}

a:visited {
	color: inherit;
}

.main-navigation a {
	color: white;
}
.main-navigation a:hover {
	text-decoration: underline;
	color: #98FB98;
}

.main-footer {
    background-color: slategray;
    width: 100%;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.container section{
    display: table-cell;
    padding: 50px;
}
